.form__button {
  width: 358px;
  height: 50px;
  background-color: #000000;
  border-radius: 2px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  margin: 48px 0 0 0;
  padding: 0;
  border: none;
  transition: opacity .5s ease;
}

.form__button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .form__button {
    width: 100%;
  }
}
