.header__logo {
  position: relative;
  z-index: 3;
  transition: opacity .5s ease;
}

.header__logo:hover {
  opacity: .5;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .header__logo {
    margin-left: 27px;
    width: 104px;
  }
}
