.profile__info-name {
  max-width: 500px;
  grid-area: name;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.33;
<<<<<<< HEAD
  margin: 0 0 16px 0;
=======
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
>>>>>>> develop
}

@media screen and (max-width: 768px) {
 .profile__info-name {
  max-width: 300px;
  font-size: 27px;
  line-height: 2.1;
  text-align: center;
  margin: 0 0 14px 0;
}
 }

 @media screen and (max-width: 425px) {
  .profile__info-name {
   max-width: 250px;
 }
  }
