.form__input-profession {
  position: relative;
  width: 358px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}
