.profile__info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .profile__info {
    align-items: center;
  }
}
