.profile__info {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-areas:
    "name button"
    "profession .";
  color: #FFFFFF;
  margin: 0;
  grid-gap: 16px 17px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    grid-gap: 14px 5px;
  }
}
