.element__button {
  background-image: url('../../../images/like-image.svg');
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 18px;
  border: none;
  padding: 0;
  margin: 0;
  transition: opacity .5s ease;
}

.element__button:hover {
  outline: none;
  opacity: .6;
  cursor: pointer;
}
