.element {
  max-width: 882px;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 282px));
  grid-template-rows: repeat(2, minmax(min-content, 282px));
  list-style: none;
  padding: 0;
  grid-gap: 21px 18px;
  margin: 46px auto 66px;
  justify-content: center;
}


@media screen and (max-width: 950px) {
  .element {
    max-width: 620px;
    grid-template-columns: repeat(2, minmax(min-content, 282px));
    grid-template-rows: repeat(3, minmax(min-content, 282px));
  }
}

@media screen and (max-width: 640px) {
  .element {
    max-width: 440px;
    grid-template-columns: repeat(1, minmax(min-content, 282px));
    grid-template-rows: none;
    row-gap: 20px;
    margin: 36px auto 48px;
  }
}

@media screen and (max-width: 425px) {
  .element {
    max-width: 282px;
  }
}
